/*      Color Template      */
.color-primary{
    color:$color-primary
}

.color-second{
    color: $color-secondary;
}

.color-pink{
    color: $color-pink;
}

.color-second-bg{
    background: $color-secondary;
}

.color-primary-bg{
    background: $color-primary; 
}

.color-pink-bg{
    background: $color-pink;
}

.color-pink-second-bg{
    background: $color-pink-second;
}

