/*  typography classes */
.font-rale{
    font-family: $font-raleway;
}

.font-fred{
    font-family: $font-fredoka;
}

.font-quick{
    font-family: $font-quicksand;
}

.font-size-12{
    font-size:12px;
}

.font-size-14{
    font-size:12px;
}

.font-ioze-16{
    font-size:12px;
}

.font-size-20{
    font-size:12px;
}
